<app-navbar [navTitle]="'אודות'" [accBtn]="false" [shareBtn]="false"></app-navbar>

<ion-content scrolY="false">
  <ion-list class="ion-no-padding">
    <!-- <ion-list-header>
      אודות סופרים וזוכרים
    </ion-list-header> -->
    <ion-item>
      <ion-icon slot="start" name="cog" color="secondary"></ion-icon>
      <ion-label>גרסה</ion-label>
      <span item-right>{{appVersion}}</span>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="bulb" color="secondary"></ion-icon>
      <ion-label>ייזום והפקה</ion-label>
      <span item-right>שבט שלם סניף מרכז, באר שבע</span>
    </ion-item>
    <ion-item button detail (click)="rateUs()">
      <ion-icon slot="start" name="star" color="secondary"></ion-icon>
      <ion-label>דרגו אותנו</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="code" color="secondary"></ion-icon>
      <ion-label>מפתח</ion-label>
      <span item-right>אלעד אלרם</span>
    </ion-item>
    <ion-item detail href="https://github.com/elelad/Sofrim" target="_blank">
      <ion-icon slot="start" name="logo-github" color="secondary"></ion-icon>
      <ion-label>קוד פתוח</ion-label>
    </ion-item>
    <ion-item *ngIf="plt.is('desktop') || plt.is('mobileweb'); else elseBlock" detail href='mailto:sofrim@sofrim.co.il' rel="_blank">
      <ion-icon slot="start" name="mail" color="secondary"></ion-icon>
      <ion-label>צור קשר</ion-label>
      <span class="ion-padding" slot="end">sofrim@sofrim.co.il</span>
    </ion-item>
    <ng-template #elseBlock >
      <ion-item detail (click)="mail()" rel="_blank">
        <ion-icon slot="start" name="mail" color="secondary"></ion-icon>
        <ion-label>צור קשר</ion-label>
        <span class="ion-padding" slot="end">sofrim@sofrim.co.il</span>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
<app-footer></app-footer>
<app-fab></app-fab>