// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #b71c1c;
  --ion-color-primary-rgb: 183, 28, 28;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a11919;
  --ion-color-primary-tint: #be3333;

  --ion-color-secondary: #2E7D32;
  --ion-color-secondary-rgb: 46, 125, 50;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #286e2c;
  --ion-color-secondary-tint: #438a47;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-darker: #2a1c1c;
  --ion-color-darker-rgb: 42, 28, 28;
  --ion-color-darker-contrast: #ffffff;
  --ion-color-darker-contrast-rgb: 255, 255, 255;
  --ion-color-darker-shade: #251919;
  --ion-color-darker-tint: #3f3333;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #E0E0E0;
  --ion-color-light-rgb: 224, 224, 224;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c5c5c5;
  --ion-color-light-tint: #e3e3e3;

  --ion-color-facebook: #3B5998;
  --ion-color-facebook-rgb: 59, 89, 152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;

  --ion-color-whatsapp: #075e54;
  --ion-color-whatsapp-rgb: 7, 94, 84;
  --ion-color-whatsapp-contrast: #ffffff;
  --ion-color-whatsapp-contrast-rgb: 255, 255, 255;
  --ion-color-whatsapp-shade: #06534a;
  --ion-color-whatsapp-tint: #206e65;

  --ion-color-white: #E0E0E0;
  --ion-color-white-rgb: 224, 224, 224;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #c5c5c5;
  --ion-color-white-tint: #e3e3e3;

  --base-font-size: 10px;
  --body-font-size: 1.4rem;
  --title-font-size: 2rem;
  --header-font-size: 2.2rem;

}

.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook);
  --ion-color-base-rgb: var(--ion-color-facebook-rgb);
  --ion-color-contrast: var(--ion-color-facebook-contrast);
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
  --ion-color-shade: var(--ion-color-facebook-shade);
  --ion-color-tint: var(--ion-color-facebook-tint);
}

.ion-color-whatsapp {
  --ion-color-base: var(--ion-color-whatsapp);
  --ion-color-base-rgb: var(--ion-color-whatsapp-rgb);
  --ion-color-contrast: var(--ion-color-whatsapp-contrast);
  --ion-color-contrast-rgb: var(--ion-color-whatsapp-contrast-rgb);
  --ion-color-shade: var(--ion-color-whatsapp-shade);
  --ion-color-tint: var(--ion-color-whatsapp-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

.ion-color-darker {
  --ion-color-base: var(--ion-color-darker);
  --ion-color-base-rgb: var(--ion-color-darker-rgb);
  --ion-color-contrast: var(--ion-color-darker-contrast);
  --ion-color-contrast-rgb: var(--ion-color-darker-contrast-rgb);
  --ion-color-shade: var(--ion-color-darker-shade);
  --ion-color-tint: var(--ion-color-darker-tint);
}

body {
  font-size: var(--body-font-size);
  --ion-item-background: white;

  ion-item-group {
    ion-item:last-child {
      --border-style: none;
    }
  }

  ion-item {
    font-size: var(--body-font-size);
    // --ion-item-background: var(ion-color-light);
    // --border-color: var(ion-color-light);
  }

  ion-title,
  h3 {
    font-size: var(--title-font-size) !important;
  }

  ion-card-content,
  p,
  div,
  span,
  ion-label,
  ion-button {
    font-size: var(--body-font-size) !important;
  }

  h1 {
    font-size: var(--header-font-size) !important;
  }

  h4 {
    font-size: 1.6rem !important;
  }

  ion-button[size="small"] {
    font-size: 1.2rem !important;
  }

}

body.none {
  --ion-background-color: none; //url(../assets/background.jpg);
  background-image: url(../assets/background.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  ion-item {
    font-size: var(--body-font-size);
    --ion-item-background: var(ion-color-light);
    --border-color: var(ion-color-light);
  }

  ion-menu,
  ion-popover,
  ion-alert {
    --ion-background-color: white;
  }

  ion-card {
    --color: var(--ion-color-dark);
  }
}

body.clean {
  --ion-background-color: #E0E0E0;
  --ion-item-background: white;

  ion-menu,
  ion-popover,
  ion-alert {
    --ion-background-color: white;
  }

  ion-card {
    --color: var(--ion-color-dark);
  }
}

body.crops {
  --ion-background-color: none;
  background-image: url(../assets/crops.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  ion-menu,
  ion-popover,
  ion-alert {
    --ion-background-color: white;
  }

  ion-card {
    --color: var(--ion-color-dark);
  }
}

// @media (prefers-color-scheme: dark) {
/*
   * Dark Colors
   * -------------------------------------------
   */

body.dark {

  --ion-color-primary: #b71c1c;
  --ion-color-primary-rgb: 183, 28, 28;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a11919;
  --ion-color-primary-tint: #be3333;

  --ion-color-secondary: #2E7D32;
  --ion-color-secondary-rgb: 46, 125, 50;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #286e2c;
  --ion-color-secondary-tint: #438a47;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-darker: #2a1c1c;
  --ion-color-darker-rgb: 42, 28, 28;
  --ion-color-darker-contrast: #ffffff;
  --ion-color-darker-contrast-rgb: 255, 255, 255;
  --ion-color-darker-shade: #251919;
  --ion-color-darker-tint: #3f3333;


  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-color-white: #E0E0E0;
  --ion-color-white-rgb: 224, 224, 224;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #c5c5c5;
  --ion-color-white-tint: #e3e3e3;

  ion-card {
    --color: var(--ion-color-white);
  }

  --ion-backdrop-opacity: 0.8;
}

body.high {
  --ion-color-primary: #FFEB3B;
  --ion-color-primary-rgb: 255, 235, 59;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e0cf34;
  --ion-color-primary-tint: #ffed4f;

  --ion-color-secondary: #e8df4c;
  --ion-color-secondary-rgb: 232, 223, 76;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #ccc443;
  --ion-color-secondary-tint: #eae25e;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #FFEB3B;
  --ion-color-dark-rgb: 255, 235, 59;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #e0cf34;
  --ion-color-dark-tint: #ffed4f;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  ion-card {
    --color: var(--ion-color-primary);
  }
}


/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body.dark,
.ios body.high {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #1c1c1c;
  --ion-item-background-activated: #313131;
}


/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body.dark,
.md body.high {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1A1B1E;
}

.md body.high,
.ios body.high {
  --ion-color-base: #FFEB3B;
  --ion-text-color: #FFEB3B;
  --ion-text-color-rgb: 255, 235, 59;
}

// ion-title.title-large {
//   --color: white;
// }

// }