<ion-app>
  <ion-menu contentId="content" side="start" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>תפריט</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list class="ion-no-padding">
        <ion-menu-toggle *ngFor="let p of pages">
          <ion-item detail="true" [routerLink]="p.link" routerDirection="root">
            <ion-icon slot="start" name="{{p.icon}}" color="secondary"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>