ion-card{
    max-width: 500px;
    margin: 0 auto;
}

.errorMsg{
    color: var(ion-color-danger);
    font-size: 1.2rem;
}

.spinnerBox{
    margin-top: 40px;
    text-align: center;
    margin: 0 auto;
}